
#topbar .theme-brand li.theme-logo img {
    width: 14pc;
    height: 39px;
}

.widget-activity-four .timeline-line .item-timeline .t-time {
    margin: 0;
    min-width: 80px;
    max-width: 120px;
    font-size: 13px;
    font-weight: 600;
    color: #acb0c3;
    letter-spacing: 1px;
}

body {
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #060818;
    max-width: 100%;
}

.bordar_destaque {
border: 1px solid #25d5e473;
border-radius: 20px;
}


.area-imagem {
    width: 100%;
    height: 165px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card.component-card_9 {
    max-width: 100%;
    min-height: 493px;
    max-height: 493px;
}
.component-card_9 .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.component-card_9 .meta-info {
    justify-content: center !important;
    margin-top: 15px !important;
}
.component-card_9 .meta-info center {
    width: 100%;
}
.component-card_9 .meta-info center a {
    display: block;
    margin: 0 !important;
}
.footer-card {
    padding-top: 0.5rem;
}
.footer-card .component-card_9 .card-text {
    font-size: 12px;
}
._text-yellow {
    color: #efba0f !important;
}
._text-red {
    color: #d6342c !important;
}
.header-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    font-size: 12px;
    color: #FFF;
}
.avaliacao-card {
    align-items: center;
    display: flex;
    gap: 5px;
}
span.nt-avaliacao {
    font-weight: 600;
}
.temperatura-card {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #FFF;
    font-weight: 700;
}
.component-card_9 .card-body {
    position: relative;
}
a.btn-favoritar {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.area-busca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.area-busca form {
    width: 100%;
    display: flex;
    position: relative;
}
.area-busca form button {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 76%;
    background: #191e3a;
    color: #FFF;
    border: none;
    border-radius: 5px;
}
.area-busca svg {
    font-weight: 600;
    color: #fafafa;
    padding: 1px;
    stroke-width: 1.2px;
}
.area-busca form input {
    background: transparent;
    border: 1px solid #1f2c4b;
    padding-left: 3.3rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #d3d3d3;
    letter-spacing: 1px;
    height: 43px;
    font-size: 12px;
}
.area-busca form input::placeholder {
    font-size: 12px;
}
.area-busca form input:focus {
    background: transparent;
    border: 1px solid #3b3f5c;
    font-size: 12px;
    color: #d3d3d3;
}
.area-busca select.form-select {
    background: #1b1c3a;
    border: 1px solid #1f2c4b;
    border-right: none;
    color: white;
    padding: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.area-busca .left {
    display: flex;
    width: 90%;
}
.area-busca .right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
}
.area-busca .right a {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
            .area-img-produto {
    position: relative;
    width: 100%;
    height: 165px;
    text-align: center;
}
.img-produto {
    position: relative;
    width: 100%;
    height: 165px;
}
.area-img-produto .bg-produto {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #070718;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.area-img-produto .bg-produto img {
    width: 100% !important;
    height: 100% !important;
    filter: blur(0.4375rem);
    padding: 10px;
}
.area-img-produto .img-produto img {
    height: 100%;
    width: auto;
    max-width: 100%;
}
.component-card_9 h5.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 1000px) {
    .area-busca .right {
        width: 20%;
    }
}
@media (max-width: 575px) {
    .card.component-card_9 {
        min-height: 0;
        max-height: 100%;
    }
    .area-busca .right {
        width: 10%;
    }
    .area-busca .right a span {
        display: none;
    }
}
@media (max-width: 500px) {
    .area-busca .left {
        display: grid;
        gap: 5px;
    }
    .area-busca select.form-select {
        border: 1px solid #1f2c4b !important;
    }
    .area-busca select.form-select, .area-busca form input {
        border-radius: 8px;
    }
}

.produto-details {
    margin-top: 1rem;
}
.box-produto {
    display: flex;
    border: 1px solid #3b3f5c;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.box-produto .left {
    width: 31%;
}
.box-produto .right {
    width: 70%;
    background: #191e3a;
    padding: 2rem;
    border-top-right-radius: 7px;
}
.header-produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
a.btn-favoritar {
    padding: 10px 13px;
    border-radius: 7px;
}
a.btn-favoritar:hover {
    background: rgba(255, 255, 255, 0.1);
}
.area-avaliacao {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 1rem;
    font-size: 12px;
    color: #FFF;
    border-bottom: 1px solid #3b3f5c;
    position: relative;
    top: 1px;
}
._text-yellow {
    color: #efba0f !important;
}
._text-red {
    color: #d6342c !important;
}
.avaliacao-card {
    align-items: center;
    display: flex;
    gap: 5px;
}
.temperatura-card {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #FFF;
    font-weight: 700;
}
.id-produto {
    text-transform: uppercase;
}
.info-preco {
    display: flex;
    align-items: center;
}
.info-preco .left {
    border-right: 1px solid #3d3d5c;
    padding: 10px;
    padding-left: 0px;
}
.info-preco .right {
    padding: 10px;
}
.footer-produto .slc-afiliacao {
    display: block;
    margin: 0px !important;
}
.footer-produto h6 {
    margin: 0.7rem 0;
}
.box-produto .left.principal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1rem solid #1b1c3a;
    border-top-left-radius: 7px;
}
.box-produto .left.principal .bg-produto {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #070718;
}
.box-produto .left.principal .bg-produto img {
    width: 100% !important;
    height: 100% !important;
    filter: blur(0.4375rem);
    padding: 10px;
}
.box-produto .left.principal .img-produto {
    z-index: 2;
}
.box-produto .left.principal .card-img-top {
    width: 100% !important;
    border-radius: 0px !important;
}
.tipo-produto {
    position: relative;
    top: -1px;
    background-color: #1b1c3a;
    border: 1px solid #3b3f5c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}
span.tag-produto {
    padding: 10px 15px;
    border: 1px solid #3b3f5c;
    border-radius: 7px;
    font-size: 12px;
    color: #FFF;
}
._text-green {
    color: #00cf58 !important;
}
.comprar-produto {
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: -2px;
    background-color: #1b1c3a;
    border: 1px solid #3b3f5c;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.descricao-produto {
    display: flex;
    gap: 3%;
    padding: 2rem 0;
    margin-bottom: 2rem;
}
.descricao-produto .left {
    width: 70%;
}
.descricao-produto .right {
    width: 30%;
}
.descricao-produto .text-wrapper {
    white-space: pre-line;
}
.descricao-produto .right .img-produtor {
    width: 100px;
    height: 100px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.descricao-produto .right .img-produtor img {
    border-radius: 50%;
}
.descricao-produto .right h5 {
    margin-bottom: 1rem;
}
.descricao-produto .right p.card-text {
    padding-bottom: 1rem;
    border-bottom: 1px solid #3b3f5c;
}
.descricao-produto .right .conquistas {
    padding-top: 1rem;
}
.area-conquistas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item-conquista {
    width: 40px;
    height: 40px;
    margin: 5px;
}
.item-conquista img {
    border-radius: 50%;
}
@media (max-width: 800px) {
    .box-produto {
        display: grid;
    }
    .box-produto .left.principal, .box-produto .right.principal {
        width: 100%;
    }
    .box-produto .right.principal {
        padding: 1rem;
    }
    .info-preco .left {
        padding: 10px !important;
        width: 50%;
        text-align: center;
    }
    .info-preco .right {
        width: 50%;
        text-align: center;
    }
    .tipo-produto {
        justify-content: center;
    }
    span.tag-produto {
        font-size: 10px;
        padding: 10px;
    }
    .descricao-produto {
        display: grid;
        gap: 1%;
        margin-bottom: 0rem
    }
    .descricao-produto .left, .descricao-produto .right {
        width: 100%;
        padding: 10px;
    }
}
@media (max-width: 480px) {
    .info-preco p {
        font-size: 14px;
        margin-bottom: 0.5rem;
    }
    .info-preco h5 {
        font-size: 14px;
    }
    .tipo-produto {
        border-radius: 0px;
    }
    .comprar-produto {
        width: 100%;
    }
    .comprar-produto h6 {
        font-size: 12px;
    }
    .comprar-produto a {
        margin: 0 !important;
    }
}

.vs-box1 {
    border: 1px solid #db2809;
    padding: 30px;
    position: relative;
   }

   /*----------------genealogy-scroll----------*/

.genealogy-scroll::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}
.genealogy-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #e4e4e4;
}
.genealogy-scroll::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 10px;
    transition: 0.5s;
}
.genealogy-scroll::-webkit-scrollbar-thumb:hover {
    background: #d5b14c;
    transition: 0.5s;
}


/*----------------genealogy-tree----------*/
.genealogy-body{
    background: #1b1c3a;
    border-radius: 10px;
    margin-top: 1rem;
    white-space: nowrap;
    overflow-y: hidden;
    padding: 50px;
    min-height: 500px;
    padding-top: 10px;
    text-align: center;
}
.genealogy-tree{
  display: inline-block;
}
.genealogy-tree ul {
    padding-top: 20px;
    position: relative;
    padding-left: 0px;
    display: flex;
    justify-content: center;
}
.genealogy-tree li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
}
.genealogy-tree li::before, .genealogy-tree li::after{
    content: '';
    position: absolute;
  top: 0;
  right: 50%;
    border-top: 2px solid #ccc;
    width: 50%;
  height: 18px;
}
.genealogy-tree li::after{
    right: auto; left: 50%;
    border-left: 2px solid #ccc;
}
.genealogy-tree li:only-child::after, .genealogy-tree li:only-child::before {
    display: none;
}
.genealogy-tree li:only-child{
    padding-top: 0;
}
.genealogy-tree li:first-child::before, .genealogy-tree li:last-child::after{
    border: 0 none;
}
.genealogy-tree li:last-child::before{
    border-right: 2px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.genealogy-tree li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.genealogy-tree ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 2px solid #ccc;
    width: 0; height: 20px;
}
.genealogy-tree li a{
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.genealogy-tree li a:hover+ul li::after,
.genealogy-tree li a:hover+ul li::before,
.genealogy-tree li a:hover+ul::before,
.genealogy-tree li a:hover+ul ul::before{
    border-color:  #fbba00;
}

/*--------------memeber-card-design----------*/
.member-view-box{
    padding:0px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
}

@keyframes seta {
  from {
    top: 0px;
  }
  to {
    top: 7px;
  }
}

.member-view-box::after {
    color: #e0e6ed;
    position: absolute;
    top: 0px;
    right: 5px;
    animation: seta .5s ease-in 0s infinite alternate;
}

.member-image {
    width: 60px;
    height: 60px;
    position: relative;
}

.member-image img {
    width: 60px !important;
    height: 60px !important;
    object-fit: contain;
    max-width: none;
    border-radius: 50%;
    background: #0d98c7;
    z-index: 1;
}

.h3, h3 {
    font-size: 10px;
}
.title-resumoindex {
    color: #f3d4a5 !important;
    background-color: #27040400;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 29px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.main-niveis .col-lg-2 {
    text-align: center;
}
.title-niveis {
    color: #7fb06a;
    text-transform: uppercase;
    font-weight: 600;
}
.main-niveis .col-lg-2 img {
    position: relative;
    top: 30px;
}
.premios1, .premios2, .premios3, .premios4, .premios5, .premios6 {
    font-size: 13px;
    font-weight: 600;
    position: relative;
}
.premios1 {
    top: 120px;
}
.premios2 {
    top: 100px;
}
.premios3, .premios4 {
    top: 80px;
}
.premios5 {
    top: 43px;
}
.premios6 {
    top: 55px;
}
img:not([draggable]), embed, object, video {
    max-width: 100%;
    height: auto;
}
.pin {
    display: block;
    transition: .3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.pin:hover {
    -webkit-filter: none;
    filter: none;
}
.progress.style1 {
    height: 8px;
    border-radius: 50px;
}
.bar-list .wins, .progress.style1 .wins {
    background-color: #7fb06a !important;
}
.bar-list .losses, .progress.style1 .losses {
    background-color: #fe0000;
}
.bar-list .dot {
    width: 8px;
    height: 8px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: -1px;
}
ul.bar-list.list-style-none.small {
    list-style: none;
}
.fs-20-ls, .fs-20 {
    font-size: 20px;
    font-weight: 700;
}
.progress:not(.progress-bar-stack) .progress-bar {
    border-radius: 0;
}
@media (max-width: 1200px) {
    .premios1, .premios2, .premios3, .premios4, .premios5, .premios6 {
        background-color: #191e3a;
        padding: 10px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .premios1 {
        top: 15px;
    }
    .premios2 {
        top: 0px;
    }
    .premios3, .premios4 {
        top: 40px;
    }
    .box-itempremio3, .box-itempremio4 {
        position: relative;
        top: 75px;
    }
    .box-itempremio5, .box-itempremio6 {
        position: relative;
        top: 180px;
    }
    .progress-plan {
        margin-top: 300px !important;
        margin-bottom: 50px;
    }
}


.invoice-inbox {
    height: 100% !important;
}
.area-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background: #515365;
    position: relative;
    top: -6px;
    margin-bottom: 1rem;
}
.area-controls .anterior, .area-controls .proximo {
    width: 50%;
}
.area-controls .anterior a, .area-controls .proximo a {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    background: #191e3a;
}
.area-controls .anterior a:hover, .area-controls .proximo a:hover {
    background: #2a2b42;
    transition: .3s;
}
span.sub-title {
    display: block;
}
div.proximo a {
    justify-content: end;
}
.tab-title {
    max-width: 100% !important;
    width: 35% !important;
}
.row.inv--head-section {
    margin-bottom: 1rem;
}
.tab-title .list-actions {
    padding: 1rem !important;
}
.f-body {
    display: grid;
    gap: 10px;
}
p.invoice-number {
    font-size: 1rem !important;
    color: #FFF !important;
}
.tab-title .list-actions .f-m-body .f-head svg {
    color: #FFF !important;
}
.hamburger {
    cursor: pointer;
}
.title-description {
    display: flex;
    align-items: center;
    gap: 5px;
}
.title-description a {
    background: #191e3a;
    border-radius: 3px;
    padding: 10px;
    display: grid;
    justify-content: center;
    min-width: 150px;
}
.title-description a.ativado {
    border-bottom: 2px solid #767a93;
}
.title-description img {
    margin: 0 auto;
}
.collapse .card.card-body {
    padding: 1.25rem 0 !important;
}
@media (max-width: 1199px) {
    .tab-title {
        left: -390px;
    }
}


.navbar .nav-logo a.navbar-brand img {
    width: 4pc;
    height: 53px;
    /* max-width: 50%; */
}

#formValidate .wizard > .content {min-height: 25em;}
        #example-vertical.wizard > .content {min-height: 24.5em;}

        #topbar .theme-brand li.theme-logo img {
            width: 100%;
            /* height: 159px; */
            max-width: 93%;
        }

        .navbar .nav-logo a.navbar-brand img {
            width: 160px;
            height: 30px;
        }

        .breadcrumb {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding: 0.75rem 1rem;
            margin-bottom: 1rem;
            list-style: none;
            background-color: #191e3a00;
            border-radius: 0.25rem;
        }

        .breadcrumb-item.active {
            color: #b7b7b7;
        }

        h1, h2, h3, h4, h5, h6 {
            color: #f5f5f5;
        }

        .area-title-rede {
            position: relative;
            top: -10px;
            color: #fff;
        }

        span.title-rede {
            display: block;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 2px solid #1b1c3a;
        }

        .tag-rede {
            display: flex;
            align-items: center;
            justify-content: left;
            margin: 15px 0px 15px;
        }

        .item-rede {
            background: #0e1726;
            padding: 1rem 1.2rem;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            width: 25%;
            margin: 0px 10px;
        }

        .item-rede:nth-child(1) {
            margin-left: 0px;
        }

        .item-rede:nth-child(4) {
            margin-right: 0px;
        }

        .item-rede span.quantidade {
            font-size: 1.5rem;
            font-weight: 700;
        }

        span.area-ativo-rede {
            background: #0e1726;
            padding: 10px 10px 10px 1rem;
            display: block;
            border-radius: 25px;
        }

        .fa-square-check {
            color: #7fff00;
        }

        .fa-star {
            color: yellow;
        }

        .topo-aposta li {
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            color: #fff;
            gap: 10px;
            margin-bottom: 10px;
        }

        .topo-aposta li:nth-child(1), .topo-aposta li:nth-child(2), .topo-aposta li:nth-child(3) {
            font-weight: 700;
        }

        span.tag-aposta-verde {
            color: #2abf22;
        }

        li.atualizacao {
            font-size: 11px;
            color: #4d7ec9;
            font-weight: 500;
        }

        li.sub-title-odds span {
            font-size: 12px;
        }

        li.sub-title-odds span span {
            font-weight: 700;
            font-size: 14px;
        }

        li.setor-botoes {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }

        li.setor-botoes a {
            background: #1b55e2;
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            font-weight: 900;
            color: #fff;
        }

        .area-title-rede .card.component-card_9 {
            min-height: 580px;
            max-height: 580px;
        }

        img.marca-dagua {
            width: 70px;
            float: right;
        }

        .area-title-rede .area-img-produto .bg-produto img {
            filter: blur(1.5px);
        }

        .infos-jogo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .infos-jogo li {
            list-style: none;
            font-size: 14px;
            font-weight: 700;
            text-shadow: 0px 1px 3px #000;
        }

        li.lucro-certo {
            font-size: 16px;
        }

        #modalTutorial button.btn-close.btn-close-white {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        #modalTutorial img, #modalTutorial .modal-content {
            border-radius: 20px;
        }

        #modalTutorial .modal-content {
            max-height: 800px;
            overflow-y: auto;
        }

        @media (max-width: 1060px) {
            .tag-rede {
                flex-wrap: wrap;
            }
            .item-rede {
                margin: 5px !important;
                width: 100%;
            }
        }

        @media (max-width: 350px) {
            .item-rede {
                font-size: 12px;
            }
            .item-rede span.quantidade {
                font-size: 1.25rem;
            }
        }


    .setinha::after {
        content: '🡓';
        color: #e0e6ed;
        position: absolute;
        top: 0px;
        right: 5px;
        animation: seta .5s ease-in 0s infinite alternate;
    }
